<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="StatBot.Bot" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <probing privatePath="lib;libs" />
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ServiceStack.Text" publicKeyToken="02c12cbda47e6587" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.4" newVersion="6.0.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <StatBot.Bot>
      <setting name="CommandPrefix" serializeAs="String">
        <value>!</value>
      </setting>
      <setting name="CommandExclude" serializeAs="String">
        <value>excludefromstats</value>
      </setting>
      <setting name="MircStatsPath" serializeAs="String">
        <value>C:\Discord\StatBot\mircstats</value>
      </setting>
      <setting name="MircStatsNicksFile" serializeAs="String">
        <value>nicks.txt</value>
      </setting>
      <setting name="Token" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CommandInclude" serializeAs="String">
        <value>includeinstats</value>
      </setting>
      <setting name="NickSection" serializeAs="String">
        <value>[common]</value>
      </setting>
      <!--Valid options: 
      channelid
      channelname
      single-->
      <setting name="LoggingFileName" serializeAs="String">
        <value>channelid</value>
      </setting>
      <setting name="DebugChannelId" serializeAs="String">
        <value></value>
      </setting>
      <setting name="PushoverApi" serializeAs="String">
        <value></value>
      </setting>
      <setting name="PushoverUserKey" serializeAs="String">
        <value></value>
      </setting>
      <setting name="StatsCommand" serializeAs="String">
        <value>stats</value>
      </setting>
      <setting name="StatsUrl" serializeAs="String">
        <value></value>
      </setting>
		<setting name="NotificationDelay" serializeAs="String">
			<value>300000</value>
		</setting>
    </StatBot.Bot>
  </applicationSettings>
</configuration>
