<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="StatBot.Bot" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1000.0" newVersion="3.0.1000.0"/>
      </dependentAssembly>
      <probing privatePath="lib;libs"/>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <StatBot.Bot>
      <setting name="CommandPrefix" serializeAs="String">
        <value>!</value>
      </setting>
      <setting name="CommandExclude" serializeAs="String">
        <value>excludefromstats</value>
      </setting>
      <setting name="MircStatsPath" serializeAs="String">
        <value>C:\Discord\StatBot\mircstats</value>
      </setting>
      <setting name="MircStatsNicksFile" serializeAs="String">
        <value>nicks.txt</value>
      </setting>
      <setting name="Token" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CommandInclude" serializeAs="String">
        <value>includeinstats</value>
      </setting>
      <setting name="NickSection" serializeAs="String">
        <value>[common]</value>
      </setting>
      <!--Valid options: 
      channelid
      channelname
      single-->
      <setting name="LoggingFileName" serializeAs="String">
        <value>channelid</value>
      </setting>
      <setting name="DebugChannelId" serializeAs="String">
        <value></value>
      </setting>
      <setting name="PushoverApi" serializeAs="String">
        <value></value>
      </setting>
      <setting name="PushoverUserKey" serializeAs="String">
        <value></value>
      </setting>
      <setting name="StatsCommand" serializeAs="String">
        <value>stats</value>
      </setting>
      <setting name="StatsUrl" serializeAs="String">
        <value></value>
      </setting>
      <setting name="SnapCommand" serializeAs="String">
        <value>snapme</value>
      </setting>
      <setting name="UnsnapCommand" serializeAs="String">
        <value>unsnapme</value>
      </setting>
      <setting name="ThanosEventRole" serializeAs="String">
        <value>ThanosEventRole</value>
      </setting>
      <setting name="SecretSnapCommand" serializeAs="String">
        <value>TimeToSnap</value>
      </setting>
      <setting name="OddSnapRole" serializeAs="String">
        <value>OddSnap</value>
      </setting>
      <setting name="EvenSnapRole" serializeAs="String">
        <value>EvenSnap</value>
      </setting>
    </StatBot.Bot>
  </applicationSettings>
</configuration>
